<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="~{layout::menu}"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Cambia tu Password</h2>

            <div th:if="${success}" class="alert alert-success" role="alert">
                <p th:text="${success}"></p>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>

            <form action="#" method="post" id="passwordForm">
                <div class="form-group">
                    <label for="newPassword">Nuevo Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" th:required="required">
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Repita nuevo password</label>
                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" th:required="required">
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-outline-primary" id="guardarBtn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('guardarBtn').addEventListener('click', function() {
            const newPassword = document.getElementById('newPassword').value;
            const confirmNewPassword = document.getElementById('confirmNewPassword').value;

            if (!validatePassword(newPassword)) {
                alert('La contraseña debe ser de mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula, un número y un carácter especial');
                return;
            }

            if (newPassword !== confirmNewPassword) {
                alert('Las contraseñas no coinciden');
                return;
            }

            document.getElementById('passwordForm').submit();
        });
    });

    function validatePassword(password) {
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;
        return passwordRegex.test(password);
    }
</script>


</body>
</html>
